.pagination {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.page-link {
  position: relative;
  display: inline-flex;
  background-color: var(--pagination-color);
  padding: 10px 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.page-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-link:not(:first-child) {
  margin-left: -1px;
}

.page-link:hover,
.page-link:focus {
  background-color: var(--pagination-hover-color);
}

.page-link:focus {
  z-index: 3;
}

.page-link.active {
  z-index: 2;
  background-color: #4d28a1;
}

.page-link.disabled {
  pointer-events: none;
}
.prev-page,
.next-page {
  padding: 10px;
}
.prev-page svg,
.next-page svg {
  width: 23px;
  height: 23px;
  transform: translate(0, 2px);
}

.prev-page path,
.next-page path {
  fill: white;
}
.next-page svg {
  transform: rotate(180deg) translate(0, -2px);
}
