.films {
  min-height: 100vh;
  padding: 30px 0px 0px;
}

.title {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 30px;
}

.films__list:has(div) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.loading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
